@page "/ordens-servicos/gravar"
@inherits GravarOrdemServicoPage

<PsTitle Title="Ordem Serviço" />

<PsPageHeader Icon="@Icons.Material.Filled.PeopleAlt"
              Title="@OSInputModel.OSNome.ToString()"
              ButtonTextBack="Voltar" OnClickGoBack="@GoToHomePage" />



<MudPaper Class="mt-2 pa-2">
    <EditForm Model="@OSInputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <MudGrid Class="cursor-default">
            <MudItem xs="12" sm="12" Class="d-flex align-center">
                <MudStepperExtended @ref="_stepper"
                                    Class="mud-width-full" ContentStyle="min-height: 400px"
                                    Linear="_linear" Vertical="_vertical"
                                    Variant="_variant"
                                    Color="_color"
                                    Animation="_animation"
                                    ShowPreviousButton="_showPreviousButton"
                                    ShowNextButton="_showNextButton"
                                    ShowSkipButton="_showSkipButton"
                                    ShowStepResultIndicator="_showStepResultIndicator"
                                    HeaderBadgeView="_headerBadgeView"
                                    HeaderTextView="_headerTextView"
                                    PreventStepChangeAsync="new Func<StepChangeDirection, int, Task<bool>>(CheckChange)"
                                    MobileView="false"
                                    IconActionButtons="_iconActionButtons"
                                    Loading="_loading" HeaderSize="_headerSize"
                                    LocalizedStrings="GetLocalizedStrings()"
                                    StepperActionsJustify="_stepperActionsJustify">


                    <ChildContent>

                        <MudStepExtended Icon="@Icons.Material.Filled.Approval"
                                         Title="Informações da O.S."
                                         StatusChanged="StatusChanged"
                                         Optional="true">
                            <ChildContent>
                                <MudForm @ref="_form" Disabled="OSInputModel.DimissEdit">
                                    <MudStack>
                                        <MudGrid Spacing="1">
                                            <MudItem xs="11" sm="11" md="11">
                                                <MudTextField T="string"
                                                              Label="CPF/CNPJ"
                                                              @bind-Value="OSInputModel.Cliente.cad_cnpj"
                                                              OnBlur="ValidatedNumDocAsync"
                                                              For="@(() => OSInputModel.Cliente.cad_cnpj)"
                                                              Variant="Variant.Text"
                                                              HelperText="Nº do Documento"
                                                              InputMode="InputMode.numeric"
                                                              Clearable />
                                            </MudItem>
                                            <MudItem xs="1" sm="1" md="1" Class="d-flex align-center">
                                                <MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="@SearchCustomerDialogAsync"></MudIconButton>
                                            </MudItem>
                                        </MudGrid>

                                        <MudItem xs="12" sm="12" md="12">
                                            <MudTextField T="string"
                                                          @bind-Value="OSInputModel.Cliente.cad_nome"
                                                          Label="Nome"
                                                          Variant="Variant.Text"
                                                          HelperText="Nome do Cliente Selecionado"
                                                          ReadOnly="true" />
                                        </MudItem>

                                        @if (!string.IsNullOrEmpty(OSInputModel.Cliente?.CadastroCliente?.cad_cli_mensagem))
                                        {
                                            <MudAlert Severity="Severity.Error">@OSInputModel.Cliente?.CadastroCliente?.cad_cli_mensagem</MudAlert>
                                        }

                                        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

                                        <MudItem xs="12" sm="12" md="12">
                                            <MudAutocomplete T="Funcionarios"
                                                             Label="Vendedor"
                                                             @bind-Value="OSInputModel.Funcionario"
                                                             HelperText="Selecione o Vendedor - Caso necessário"
                                                             SearchFunc="@SearchEmployeeAsync"
                                                             Clearable />
                                        </MudItem>

                                        <MudItem xs="12" sm="12" md="12">
                                            <MudTextField T="string"
                                                          @bind-Value="OSInputModel.CurrentOS.ordser_obs"
                                                          Label="Obs."
                                                          Lines="6"
                                                          Variant="Variant.Text"
                                                          HelperText="Observações"
                                                          Clearable />
                                        </MudItem>

                                    </MudStack>
                                </MudForm>
                            </ChildContent>
                        </MudStepExtended>

                        <MudStepExtended Title="Produtos" Icon="@Icons.Material.Filled.MoreVert" Optional="true">
                            <ChildContent>
                                <MudForm Disabled="OSInputModel.DimissEdit">
                                    <MudStack Row="false">
                                        <MudItem xs="12" md="12" sm="12">

                                            @if (IsMobile)
                                            {
                                                @foreach (var item in OSInputModel.CurrentOS.OrdensServicosItens.OrderBy(t => t.ordserite_item))
                                                {
                                                    <MudItem xs="12" sm="6" md="4" Class="mb-2">
                                                        <MudCard>
                                                            <MudCardHeader>
                                                                <CardHeaderAvatar>
                                                                    <MudAvatar Color="Color.Primary">@item.ordserite_item</MudAvatar>
                                                                </CardHeaderAvatar>

                                                                <CardHeaderContent>
                                                                    <MudText><strong>Código:</strong> @item.ordserite_pro_codigo</MudText>
                                                                </CardHeaderContent>

                                                                <CardHeaderActions>
                                                                    <MudStack Justify="Justify.FlexEnd" Row="true" Spacing="1">
                                                                        <EditButton Disabled=" false" OnClick="@(() => GoToUpdate(item))" />
                                                                        <DeleteButton Disabled="false" OnClick="@(() => DeleteAsync(item))" />
                                                                    </MudStack>
                                                                </CardHeaderActions>
                                                            </MudCardHeader>

                                                            <MudCardContent>
                                                                <MudText><strong>Referência:</strong> @item.Produto.pro_reduzido</MudText>
                                                                <MudText><strong>Descrição:</strong> @item.ordserite_nome</MudText>
                                                                <MudText><strong>Unitário:</strong>  @item.ordserite_valorunitario.ToMonetaryString()</MudText>
                                                                <MudText><strong>Desconto:</strong>  @item.ordserite_desconto.ToMonetaryString()</MudText>
                                                                <MudText><strong>SubTotal:</strong>  @item.ordserite_subtotal.ToMonetaryString()</MudText>
                                                                <MudText><strong>Qtde:</strong>      @item.ordserite_qtd</MudText>
                                                                <MudText><strong>Total:</strong>     @item.ordserite_total.ToMonetaryString()</MudText>
                                                            </MudCardContent>
                                                        </MudCard>
                                                    </MudItem>
                                                }
                                            }
                                            else
                                            {

                                                <MudDataGrid Items="@OSInputModel?.CurrentOS?.OrdensServicosItens?.OrderBy(t=>t.ordserite_item)"
                                                             Striped="IsStriped"
                                                             Hover="IsHover"
                                                             Dense="IsDense"
                                                             Bordered="IsBordered"
                                                             ColumnResizeMode="ResizeMode.Column">
                                                    <Columns>
                                                        <PropertyColumn Property="x => x.ordserite_item" Title="Item" />
                                                        <PropertyColumn Property="x => x.ordserite_pro_codigo" Title="Código" />
                                                        <PropertyColumn Property="x => x.Produto.pro_reduzido" Title="Referência" />
                                                        <PropertyColumn Property="x => x.ordserite_fun_key" Title="Func." />
                                                        <PropertyColumn Property="x => x.ordserite_nome" CellStyle="width: 100px; overflow-x: hidden; white-space: nowrap;" Title="Descrição" />
                                                        <PropertyColumn Property="x => x.ordserite_valorunitario" Title="Unit." Format="C2" />
                                                        <PropertyColumn Property="x => x.ordserite_desconto" Title="Desconto" Format="C2" />
                                                        <PropertyColumn Property="x => x.ordserite_subtotal" Title="SubTotal" Format="C2" />
                                                        <PropertyColumn Property="x => x.ordserite_qtd" Title="Qtde" Format="N" />
                                                        <PropertyColumn Property="x => x.ordserite_total" Title="Total" Format="C2" />
                                                        <TemplateColumn CellClass="d-flex justify-end">
                                                            <CellTemplate Context="item">
                                                                <MudStack Row Class="gap-2">
                                                                    <EditButton OnClick="@(() => GoToUpdate(item.Item))" />
                                                                    <DeleteButton OnClick="@(() => DeleteAsync(item.Item))" />
                                                                </MudStack>
                                                            </CellTemplate>
                                                        </TemplateColumn>
                                                    </Columns>
                                                    <PagerContent>
                                                        <MudDataGridPager PageSizeOptions="@PageSizeOptionsString"
                                                                          RowsPerPageString="@RowsPerPageString"
                                                                          InfoFormat="@InfoFormatString"
                                                                          T="OrdensServicosItens" />
                                                    </PagerContent>
                                                </MudDataGrid>

                                            }

                                        </MudItem>

                                        <MudItem xs="12" md="12" sm="12">
                                            <MudStack Row="true" Justify="Justify.FlexEnd">
                                                <MudFab Color="Color.Primary"
                                                        Size="Size.Medium"
                                                        @onclick="@SearchProductsDialogAsync"
                                                        Disabled="OSInputModel.DimissEdit"
                                                        StartIcon="@Icons.Material.Filled.Add" />

                                                <MudFab Color="Color.Primary"
                                                        Size="Size.Medium"
                                                        Disabled="true"
                                                        StartIcon="@Icons.Material.Filled.CameraAlt" />
                                            </MudStack>
                                        </MudItem>
                                    </MudStack>
                                </MudForm>
                            </ChildContent>
                        </MudStepExtended>

                        <MudStepExtended Icon="@Icons.Material.Filled.Money" Title="Finalização O.S.">
                            <ChildContent>

                                <MudForm @ref="_form2" Disabled="OSInputModel.DimissEdit">
                                    <MudContainer Class="my-4 px-4">
                                        <MudGrid Spacing="2" Justify="Justify.Center">

                                            <MudItem xs="12" sm="12" md="6" lg="6">

                                                <MudCard Class="px-2 mb-4">
                                                    <MudCardContent>
                                                        @if (_loading)
                                                        {
                                                            <MudSkeleton Animation="Animation.Wave" />
                                                        }
                                                        else
                                                        {
                                                            <MudGrid Class="align-center">
                                                                <MudItem xs="12" sm="9" md="9" lg="9">
                                                                    <MudText Typo="Typo.h5" Style="font-weight: bold">Total da O.S.: @OSInputModel?.TotalOS.ToMonetaryString()</MudText>
                                                                </MudItem>
                                                            </MudGrid>
                                                        }
                                                    </MudCardContent>
                                                </MudCard>

                                                <MudSpacer />

                                                <MudCard>
                                                    <MudCardContent>
                                                        <MudStack Spacing="2">
                                                            <!-- Campo Desconto % -->
                                                            <MudNumericField Label="(-) Desconto em percentual (%):"
                                                                             Min="0" Max="100"
                                                                             Variant="Variant.Text"
                                                                             HideSpinButtons="true"
                                                                             @bind-Value="@OSInputModel.DescontoPercentual"
                                                                             Disabled="@OSInputModel.DescontoReais.HasValue" />

                                                            <!-- Campo Desconto R$ -->
                                                            <MudNumericField Label="(-) Desconto em reais (R$):"
                                                                             Min="0" Max="@OSInputModel.TotalOS"
                                                                             HideSpinButtons="true"
                                                                             Variant="Variant.Text"
                                                                             Disabled="@OSInputModel.DescontoPercentual.HasValue"
                                                                             @bind-Value="@OSInputModel.DescontoReais"
                                                                             Culture="@OSInputModel._ptBR" />

                                                            <MudSpacer />
                                                            <!-- Total a Pagar -->
                                                            <MudText Typo="Typo.h5"
                                                                     Style="font-weight: bold">
                                                                Total a Pagar: @OSInputModel?.TotalOSComDesconto.ToMonetaryString()
                                                            </MudText>

                                                            <!-- Botão Finalizar Pedido -->
                                                            <MudButton StartIcon="@Icons.Material.Outlined.ArrowOutward"
                                                                       IconSize="Size.Large"
                                                                       Variant="Variant.Filled"
                                                                       Color="Color.Success"
                                                                       FullWidth="true"
                                                                       Class="mt-2"
                                                                       @onclick="@FinishOS">
                                                                @NomeBotaoFinaliza
                                                            </MudButton>

                                                        </MudStack>
                                                    </MudCardContent>
                                                </MudCard>
                                            </MudItem>

                                        </MudGrid>

                                    </MudContainer>

                                </MudForm>

                            </ChildContent>

                        </MudStepExtended>

                        @if (_addResultStep)
                        {
                            <MudStepExtended Icon="@Icons.Material.Filled.Alarm" Title="Result Step" IsResultStep="true">
                                <ChildContent>

                                    <div class="d-flex flex-column align-center justify-center" style="height: 200px">
                                        <MudIconButton Icon="@Icons.Material.Filled.DoneAll"
                                                       Size="Size.Large"
                                                       Variant="Variant.Filled"
                                                       Color="Color.Success" />

                                        <MudText>Your reservation successfully completed.</MudText>

                                    </div>

                                </ChildContent>
                            </MudStepExtended>
                        }

                    </ChildContent>

                    <ActionContent>
                        @if (!_stepper.IsAllStepsCompleted() && _showCustomButton)
                        {
                            <MudButton Color="Color.Secondary"
                                       Variant="_variant"
                                       OnClick="@(() => Snackbar.Add("Custom cancel button clicked.", Severity.Info))">
                                Cancel
                            </MudButton>
                        }
                        @* <MudSpacer /> *@
                    </ActionContent>

                </MudStepperExtended>
            </MudItem>
        </MudGrid>

    </EditForm>
</MudPaper>
